.App {
  text-align: center;
  overflow: hidden;
}

.highlightable:hover {
  border-color: #9bcaeb;
  box-shadow: 0 0 16px #9bcaeb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
